@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');
body{
  background-image: url("assets\backgroundnav.jpg");
  background-repeat: no-repeat;
  background-color: gray;

  background-size: cover;
  background-position: border-box;
  min-height: 100vh;
  min-width: 100vw;
}